.container{
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../public/iscp.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin-left: 10;
}

.container input {
    border-radius: 59px;
    padding: 9px;
    
}


.checks {
    position:absolute;
    margin-left: 280px;
    margin-top: -75px;
    vertical-align: middle;
}

.ychecks{
    display: block;
    position:absolute;
    cursor: pointer;
    user-select: none;
    color:black;
    margin-top: 170px;
    margin-bottom: -275px;
    margin-left: -460px;
    font-size: 24px;
    padding: 20px;
    
}

.nchecks{
    display: block;
    position:absolute;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    color:black;
    margin-top: 168px;
    margin-left: -300px;
    font-size: 24px;
    padding: 20px;
}


.checks input{
    width: 20px;
    margin-top: 3px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
    vertical-align: middle;
    cursor:pointer;
}


.button {
    position: absolute;
    width: 193px;
    height: 40px;
    margin-top: 530px;
    margin-left: -500px;
    background: #FFEF61;
    border-radius: 59px;
    color:#000000;
    font-size:x-large;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff
}

.button:active {
    background-color: #008CBA
}

.fname{
    position: absolute;
    margin-top: -550px;
    margin-left: -530px;
    color: black;
    font-size: x-large;
}

.lname{
    position: absolute;
    margin-top: -550px;
    margin-left: 325px;
    color: black;
    font-size: x-large;
}
.num{
    position: absolute;
    margin-top: -230px;
    margin-left: 255px;
    color: black;
    font-size: 23px;
} 

.mail{
    position: absolute;
    margin-top: -300px;
    margin-left: -580px;
    color: black;
    font-size: x-large;
}

.mobn{
    position: absolute;
    margin-top: -300px;
    margin-left: 325px;
    color: black;
    font-size: x-large;
}

.add{
    position: absolute;
    margin-top: -35px;
    margin-left: -550px;
    color: black;
    font-size: x-large;
}

.ques{
    position: absolute;
    margin-top: 215px;
    margin-left: -340px;
    color: black;
    font-size: x-large;
}

.reas{
    position: absolute;
    margin-top: 490px;
    margin-left: -310px;
    color: black;
    font-size: x-large;
}

.rect{
    box-sizing: border-box;
    margin-left: 1px;
    width: 800px;
    height: 180px;
    background: #0839A6;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 0px;
}


.rect1{
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    background: #0839A6;
    display: flex;
    justify-content: center;
    

}

.rect1 h1{
    font-size: 55px ;
    margin-top: -5px;
}

.rect img {
    margin-top: 20px;
    margin-left: 35px;
    height: 150px;
    width: auto;
}


.rect h2 {
    margin-right: 60px;
    margin-left: 1px;
    margin-top: 70px;
    letter-spacing: 1px;
    font-size: 35px;
    justify-content: center;
    text-align: center;
}



.rect2{
    box-sizing: border-box;
    width: 800px;
    height: 1000px;
    background: rgb(251, 251, 251);
    opacity: 0.4;
}



.rectfname{
    position: absolute;
    box-sizing: border-box;
    width: 240px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 39px;
    margin-top: -255px;
    margin-left: -730px;
    color:black;
    padding: 0px 10px;
    font-size: 17px;
    
}


      
.rectfname p{
    margin-top: 30px;
    letter-spacing: 1px;
    color: black;
    
}


.rectlname{
    position: absolute;
    box-sizing: border-box;
    width: 240px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 39px;
    margin-top: -255px;
    margin-left: -300px;
    color:#000000;
    padding: 0px 10px;
    font-size: 17px;

}



.rectlname p{
    margin-top: 30px;
    letter-spacing: 1px;
    color: black
}


.rectemail{
    position: absolute;
    box-sizing: border-box;
    width: 240px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 39px;
    margin-top: -130px;
    margin-left: -730px;
    color:#000000;
    padding: 0px 10px;
    font-size: 17px;
}


.rectemail p{
    margin-top: 80px;
    letter-spacing: 1px;
    color: black
}

.rectnum{
    position: absolute;
    box-sizing: border-box;
    width: 185px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 39px;
    margin-top: -130px;
    margin-left: -250px;
    color:black;
    padding: 0px 10px;
    font-size: 17px;
}


.rectnum p{
    margin-top: 80px;
    letter-spacing: 1px;
    color: black
}

.rectaddress{
    position: absolute;
    box-sizing: border-box;
    width: 660px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 39px;
    margin-top: 2px;
    margin-left: -730px;
    color:black;
    padding: 10px 20px;
    font-size: 17px;
}


.rectreason{
    position: absolute;
    width: 635px;
    height: 200px;
    margin-top: 280px;
    margin-left: -720px;
    background: #FFFFFF;
    border-radius: 30px;
    border: .5px solid #000000;
    color:#000000;
    padding: 10px 20px;
    font-size: 17px;
    resize: none;
}
